
.x-dd-drag-proxy .multi-proxy .thumb-img{
    height: auto;
	width: 40px;
	margin:1px;
}
.x-dd-drag-proxy .thumb-img{
	height: 60px;
	width: 80px;
}
#images-view .thumb img {
    height: auto;
}
.upload {
    background-image: url(images/box_upload.png) !important;
}
.add {
    background-image: url(images/folder_add.png) !important;
}
.album-node .x-tree-node-icon, .album-btn{
    background-image:url( ../tree/album.gif ) !important;
}