.x-panel-tl .x-panel-header {
    color:#212d3d;
	font:bold 11px tahoma,arial,verdana,sans-serif;
    padding:5px 0 4px 0;
}
.x-panel .x-panel-tc {
	background: transparent url(../images/default/panel/panel-sprite.gif) no-repeat 0 -32px;
	overflow:hidden;
}
.x-panel .x-panel-tl {
	background: transparent url(../images/default/panel/panel-sprite.gif) no-repeat 0 0;
	padding-left:6px;
    zoom:1;
    border-bottom:1px solid #99bbe8;
}
.x-panel .x-panel-tr {
	background: transparent url(../images/default/panel/panel-sprite.gif) no-repeat right 0;
	padding-right:6px;
    zoom:1;
}
.x-panel .x-panel-bc {
	background: transparent url(../images/default/panel/panel-sprite.gif) no-repeat 0 -58px;
	height:6px;
    overflow:hidden;
}
.x-panel .x-panel-bl {
	background: transparent url(../images/default/panel/panel-sprite.gif) no-repeat 0 -26px;
	padding-left:6px;
    zoom:1;
}
.x-panel .x-panel-br {
	background: transparent url(../images/default/panel/panel-sprite.gif) no-repeat right -26px;
	padding-right:6px;
    zoom:1;
}
.x-panel .x-panel-mc {
    border:0 none;
    padding:0;
    margin:0;
    font: normal 11px tahoma,arial,helvetica,sans-serif;
}
.x-panel .x-panel-ml {
	background: #fff url(../images/default/panel/panel-sprite.gif) no-repeat 0 -64px;
	padding-left:6px;
    zoom:1;
}
.x-panel .x-panel-mr {
	background: transparent url(../images/default/panel/panel-sprite.gif) no-repeat right -64px;
	padding-right:6px;
    zoom:1;
}

.x-panel-blue .x-panel-tc,
    .x-panel-blue .x-panel-tl,
    .x-panel-blue .x-panel-tr,
    .x-panel-blue .x-panel-bc,
    .x-panel-blue .x-panel-bl,
    .x-panel-blue .x-panel-br,
    .x-panel-blue .x-panel-ml,
    .x-panel-blue .x-panel-mr {
	background-image:url(../images/default/panel/panel-blue-sprite.gif);
}

.x-panel-collapsed .x-resizable-handle{
    display:none;
}