.x-panel-header {
    overflow:hidden;
    zoom:1;
}
.x-panel-tl .x-panel-header {
    color:#15428b;
	font:bold 11px tahoma,arial,verdana,sans-serif;
    padding:5px 0 4px 0;
}
.x-panel-icon {
    padding-left:18px !important;
    background-repeat:no-repeat;
    background-position:0 3px;
    zoom:1;
}
.x-panel-tc {
	background: transparent url(../images/default/panel/white-top-bottom.gif) repeat-x 0 0;
	overflow:hidden;
}
.x-panel-tl {
	background: transparent url(../images/default/panel/white-corners-sprite.gif) no-repeat 0 0;
	padding-left:6px;
    zoom:1;
    border-bottom:1px solid #99bbe8;
}
.x-panel-tr {
	background: transparent url(../images/default/panel/white-corners-sprite.gif) no-repeat right 0;
	padding-right:6px;
}
.x-panel-bc {
	background: transparent url(../images/default/panel/white-top-bottom.gif) repeat-x 0 bottom;
    zoom:1;
}
.x-panel-bc .x-panel-footer {
    padding-bottom:6px;
    zoom:1;
}
.x-panel-bl {
	background: transparent url(../images/default/panel/white-corners-sprite.gif) no-repeat 0 bottom;
	padding-left:6px;
    zoom:1;
}
.x-panel-br {
	background: transparent url(../images/default/panel/white-corners-sprite.gif) no-repeat right bottom;
	padding-right:6px;
    zoom:1;
}
.x-panel-mc {
    border:0 none;
    padding:0;
    margin:0;
    font: normal 11px tahoma,arial,helvetica,sans-serif;
    background:white;
}
.x-panel-ml {
	background: #fff url(../images/default/panel/white-left-right.gif) repeat-y 0 0;
	padding-left:6px;
    zoom:1;
}
.x-panel-mr {
	background: transparent url(../images/default/panel/white-left-right.gif) repeat-y right 0;
	padding-right:6px;
    zoom:1;
}
.x-panel-blue .x-panel-tl, .x-panel-blue .x-panel-tr, .x-panel-blue .x-panel-bl, .x-panel-blue .x-panel-br {
    background-image:url(../images/default/panel/corners-sprite.gif);
}
.x-panel-blue .x-panel-tc, .x-panel-blue .x-panel-bc {
    background-image:url(../images/default/panel/top-bottom.gif);
}
.x-panel-blue .x-panel-ml, .x-panel-blue .x-panel-mr {
	background-image:url(../images/default/panel/left-right.gif);
}
.x-panel-blue .x-panel-mc{
    padding-top:6px;
    background:#dfe8f6;
}

.x-panel-collapsed .x-resizable-handle{
    display:none;
}

.x-tool {
    overflow:hidden;
    width:15px;
    height:15px;
    float:right;
    cursor:pointer;
    background:transparent url(../images/default/panel/tool-sprites.gif) no-repeat;
    margin-left:2px;
}

.x-tool-toggle {
    background-position:0 -60px;
}
.x-tool-toggle-over {
    background-position:-15px -60px;
}
.x-panel-collapsed .x-tool-toggle {
    background-position:0 -75px;
}
.x-panel-collapsed .x-tool-toggle-over {
    background-position:-15px -75px;
}

.x-tool-close {
    background-position:0 -0;
}
.x-tool-close-over {
    background-position:-15px 0;
}

.x-tool-minimize {
    background-position:0 -15px;
}
.x-tool-minimize-over {
    background-position:-15px -15px;
}

.x-tool-maximize {
    background-position:0 -30px;
}
.x-tool-maximize-over {
    background-position:-15px -30px;
}

.x-tool-restore {
    background-position:0 -45px;
}
.x-tool-restore-over {
    background-position:-15px -45px;
}

.x-tool-gear {
    background-position:0 -90px;
}
.x-tool-gear-over {
    background-position:-15px -90px;
}

.x-panel-ghost {
    background:#cbddf3;
    z-index:12000;
    overflow:hidden;
    position:absolute;
    left:0;top:0;
    opacity:.65;
    -moz-opacity:.65;
    filter:alpha(opacity=65);
}

.x-panel-ghost ul {
    margin:0;
    padding:0;
    overflow:hidden;
    font-size:0;
    line-height:0;
    border:1px solid #84a0c4;
    border-top:0 none;
    display:block;
}

.x-panel-ghost * {
    cursor:move !important;
}
