.x-tip{
	position: absolute;
	top: 0;
	visibility: hidden;
	z-index: 20000;
}
.x-tip .x-tip-bd{
	background: #e0e8f3 url(../images/default/qtip/bg.gif) repeat-x;
	border: 1px solid #a3bad9;
	font: normal 11px arial,helvetica,sans-serif;
	padding: 5px;
}
.x-tip .x-tip-close{
	background-image: url(../images/default/basic-dialog/close.gif);
	height: 15px;
	position: absolute;
	right: 3px;
	top: 3px;
	width: 15px;
}
.x-tip .x-tip-hd {
	background: url(../images/default/basic-dialog/hd-sprite.gif) repeat-x 0 -82px;
	background-color: navy;
	color: #FFF;
	display: block;
	font: bold 11px tahoma, arial, verdana, helvetica;
	padding: 4px;
}
.x-tip .x-tip-hd-left {
	background: url(../images/default/basic-dialog/hd-sprite.gif) no-repeat 0 -41px;
	display: block;
	margin: 0;
	padding-left: 3px;
}
.x-tip .x-tip-hd-right {
	background: url(../images/default/basic-dialog/hd-sprite.gif) no-repeat right 0;
	display: block;
	padding-right: 3px;
}

.x-form-invalid-tip {
    border:0 none;
}
.x-form-invalid-tip .x-tip-top {
	background: transparent url(../images/default/form/error-tip-corners.gif) no-repeat 0 -12px;
	height:6px;
    overflow:hidden;
}
.x-form-invalid-tip .x-tip-top-left {
	background: transparent url(../images/default/form/error-tip-corners.gif) no-repeat 0 0;
	padding-left:6px;
    zoom:1;
}
.x-form-invalid-tip .x-tip-top-right {
	background: transparent url(../images/default/form/error-tip-corners.gif) no-repeat right 0;
	padding-right:6px;
    zoom:1;
}
.x-form-invalid-tip .x-tip-ft {
	background: transparent url(../images/default/form/error-tip-corners.gif) no-repeat 0 -18px;
	height:6px;
    overflow:hidden;
}
.x-form-invalid-tip .x-tip-ft-left {
	background: transparent url(../images/default/form/error-tip-corners.gif) no-repeat 0 -6px;
	padding-left:6px;
    zoom:1;
}
.x-form-invalid-tip .x-tip-ft-right {
	background: transparent url(../images/default/form/error-tip-corners.gif) no-repeat right -6px;
	padding-right:6px;
    zoom:1;
}
.x-form-invalid-tip .x-tip-bd {
    padding-left:24px;
    border:0 none;
    background:transparent url(../images/default/form/exclamation.gif) no-repeat 2px 2px;
}
.x-form-invalid-tip .x-tip-bd-left {
	background: #fff url(../images/default/form/error-tip-corners.gif) no-repeat 0 -24px;
	padding-left:6px;
    float:left;
}
.x-form-invalid-tip .x-tip-bd-right {
	background: transparent url(../images/default/form/error-tip-corners.gif) no-repeat right -24px;
	padding-right:6px;
}