/* use default scrollbars in htmleditor, custom ones only shown as white space, other iframes work fine */
:not(iframe)::-webkit-scrollbar,
/*:not(.x-html-editor-wrap)>iframe::-webkit-scrollbar,*/
::-webkit-scrollbar-button,
::-webkit-scrollbar-corner {
	width: 15px;
	height: 15px;
	background: #dfe8f6;
}
::-webkit-scrollbar-track:vertical {
	background-image: url(../images/scrollbars/track_v.png);
	background-repeat: repeat-y;
	background-position: 0 0;
}
::-webkit-scrollbar-track:vertical:disabled {
	background-position: -15px 0;
}
::-webkit-scrollbar-track:horizontal {
	background-image: url(../images/scrollbars/track_h.png);
	background-repeat: repeat-x;
	background-position: 0 0;
}
::-webkit-scrollbar-track:horizontal:disabled {
	background-position: 0 -15px;
}
::-webkit-scrollbar-button {
	background-image: url(../images/scrollbars/button.png);
	background-repeat: no-repeat;
}
::-webkit-scrollbar-button:vertical:start {
	background-position: 0px 0px;
}
::-webkit-scrollbar-button:vertical:start:hover {
	background-position: -15px 0px;
}
::-webkit-scrollbar-button:vertical:start:active {
	background-position: -30px 0px;
}
::-webkit-scrollbar-button:vertical:start:disabled {
	background-position: -45px 0px;
}
::-webkit-scrollbar-button:vertical:end {
	background-position: 0px -15px;
}
::-webkit-scrollbar-button:vertical:end:hover {
	background-position: -15px -15px;
}
::-webkit-scrollbar-button:vertical:end:active {
	background-position: -30px -15px;
}
::-webkit-scrollbar-button:vertical:end:disabled {
	background-position: -45px -15px;
}
::-webkit-scrollbar-button:horizontal:start {
	background-position: 0px -30px;
}
::-webkit-scrollbar-button:horizontal:start:hover {
	background-position: -15px -30px;
}
::-webkit-scrollbar-button:horizontal:start:active {
	background-position: -30px -30px;
}
::-webkit-scrollbar-button:horizontal:start:disabled {
	background-position: -45px -30px;
}
::-webkit-scrollbar-button:horizontal:end {
	background-position: 0px -45px;
}
::-webkit-scrollbar-button:horizontal:end:hover {
	background-position: -15px -45px;
}
::-webkit-scrollbar-button:horizontal:end:active {
	background-position: -30px -45px;
}
::-webkit-scrollbar-button:horizontal:end:disabled {
	background-position: -45px -45px;
}
::-webkit-scrollbar-thumb:vertical {
	-webkit-border-image: url(../images/scrollbars/thumb_v.png) 3 0 3 0;
	border-width: 3px 0px;
	min-height: 15px;
}
::-webkit-scrollbar-thumb:vertical:hover {
	-webkit-border-image: url(../images/scrollbars/thumb_v_hover.png) 3 0 3 0;
}
::-webkit-scrollbar-thumb:vertical:active {
	-webkit-border-image: url(../images/scrollbars/thumb_v_active.png) 3 0 3 0;
}
::-webkit-scrollbar-thumb:horizontal {
	-webkit-border-image: url(../images/scrollbars/thumb_h.png) 0 3 0 3;
	border-width: 0px 3px;
	min-width: 15px;
}
::-webkit-scrollbar-thumb:horizontal:hover {
	-webkit-border-image: url(../images/scrollbars/thumb_h_hover.png) 0 3 0 3;
}
::-webkit-scrollbar-thumb:horizontal:active {
	-webkit-border-image: url(../images/scrollbars/thumb_h_active.png) 0 3 0 3;
}
