input[type=checkbox],
input[type=radio] {
	width: 13px;
	height: 13px;
	position: relative;
	visibility: hidden;
}
input[type=checkbox]:after,
input[type=radio]:after {
	position: relative;
	width: 13px;
	height: 13px;
	display: inline-block;
	content: "";
	visibility: visible;
	background: url(../images/form/checkbox.gif) no-repeat 0px 0px;
}
input[type=radio]:after {
	background-image: url(../images/form/radio.gif);
}
input[type=checkbox]:hover:after,
input[type=radio]:hover:after {
	background-position: -13px 0px;
}
input[type=checkbox][checked]:after,
input[type=radio][checked]:after {
	background-position: 0px -13px;
}
input[type=checkbox][checked]:hover:after,
input[type=radio][checked]:hover:after {
	background-position: -13px -13px;
}
input[type=checkbox]:active:after,
input[type=radio]:active:after {
	background-position: -26px 0px;
}
input[type=checkbox][checked]:active:after,
input[type=radio][checked]:active:after {
	background-position: -26px -13px;
}
input[type=checkbox][disabled]:after,
input[type=radio][disabled]:after {
	background-position: -39px 0px;
}
input[type=checkbox][checked][disabled]:after,
input[type=radio][checked][disabled]:after {
	background-position: -39px -13px;
}
.x-toolbar-cell .x-form-text {
	padding-top: 1px !important;
}
